
  
  
  <%=div_for (todo) do %>
  
  <div class="rm">
  <%=todo.notes%> <%=button_to 'Remove',user_todo_path(@user,todo.id), :method => :delete%>
  </div>
<div class "complete">
<%=todo.finished%> <%=link_to "mark done",
</div>
  <div class="edit">
  <%=link_to 'edit', edit_user_todo_path(@user,todo.id) %>
  </div>

<%end%>
