

<%= form_for @todo, url: user_todos_path do |f| %>
  <%=f.label :notes %>
  <%=f.text_field :notes %>
  <%= submit_tag("ADD") %>
 <% end %>

<%@user.todos.each do |todo|%>
<ul>
<li><%=todo.notes%> <%=link_to 'delete todo',user_todo_path(@user,todo.id), :method => :delete%></li>
</ul>
<%end%>

<%=link_to 'make a new todo', new_user_todo_path(@user) %>