<!DOCTYPE html>
<html>
<head>
  <title>TodoMvc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container" class="container">

  
  <div class="row">
       
        <div class="col-xs-3">
        <h3>Users link</h3>
        <ul class="nav">
        
        <li><%=link_to 'sign out', destroy_user_session_path,:method => :delete %></li>
        </ul>
        </div>
       
       <div class="col-xs-9">

      <%= yield %>
</div>
</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
